<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="/css/pokestyle.css">
  </head>
  <body>
    <header>
       <h1><a href='/'>Pokémon</a></h1>
    </header>
<%= yield %>
  </body>
</html>
